## Preprocessing

In [ ]:
!pip install tensorflow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tensorflow in /usr/local/lib/python3.10/dist-packages (2.12.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (23.3.3)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.4.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.54.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.8.0)
Requirement already satisfied: jax>=0.3.15 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.4.10)
Requirement already satisfied: keras<2.13,>=2.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.12.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (16.0.0)
Requirement already satisfied: numpy<1.24,>=1.22 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.22.4)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.3.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from tensorflow) (23.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.20.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from tensorflow) (67.7.2)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.16.0)
Requirement already satisfied: tensorboard<2.13,>=2.12 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.12.2)
Requirement already satisfied: tensorflow-estimator<2.13,>=2.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.12.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.3.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (4.5.0)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.14.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.32.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.10/dist-packages (from astunparse>=1.6.0->tensorflow) (0.40.0)
Requirement already satisfied: ml-dtypes>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from jax>=0.3.15->tensorflow) (0.1.0)
Requirement already satisfied: scipy>=1.7 in /usr/local/lib/python3.10/dist-packages (from jax>=0.3.15->tensorflow) (1.10.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.17.3)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (1.0.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (3.4.3)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.27.1)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (0.7.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (1.8.1)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.3.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (5.3.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow) (1.3.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (3.4)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.10/dist-packages (from werkzeug>=1.0.1->tensorboard<2.13,>=2.12->tensorflow) (2.1.2)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (0.5.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow) (3.2.2)

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import save_model,load_model
from google.colab import drive


#  Import PANDAS
import pandas as pd

In [ ]:
# constants
GDRIVE_PATH = '/content/gdrive/My Drive'
TRAINED_MODEL_PATH = f"{GDRIVE_PATH}/deep-learning-challenge/model.h5"

In [ ]:
# read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop("EIN", axis = 1 , inplace = True)
application_df.drop("NAME", axis = 1 , inplace = True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace=["T9","T13","T12","T2","T25","T14","T29","T15","T17"]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df["CLASSIFICATION"].value_counts()[application_df["CLASSIFICATION"].value_counts()>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_cutoff = application_df["CLASSIFICATION"].value_counts()[application_df["CLASSIFICATION"].value_counts()<= 1883]
classification_cutoff = classification_cutoff.index
classifications_to_replace = classification_cutoff.tolist()
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     4144
C3000     1918
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
X=pd.get_dummies(application_df)
X

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [ ]:
# Split our preprocessed data into our features and target arrays
y=application_df['IS_SUCCESSFUL']
X=X.drop(columns='IS_SUCCESSFUL')


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split (X,y,random_state=1)
X_train.shape

(25724, 42)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn_model = tf.keras.models.Sequential()

# Input layer
nn_model.add(tf.keras.layers.Dense(units=80,activation="relu",input_dim=42))

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=30,activation="relu"))


# Output layer
nn_model.add(tf.keras.layers.Dense(units=1,activation="sigmoid"))
# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3440

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,901
Trainable params: 5,901
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [ ]:
# Train the model
nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5735 - accuracy: 0.7181
Epoch 2/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5582 - accuracy: 0.7264
Epoch 3/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5564 - accuracy: 0.7290
Epoch 4/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5543 - accuracy: 0.7307
Epoch 5/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5525 - accuracy: 0.7297
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5522 - accuracy: 0.7311
Epoch 7/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5512 - accuracy: 0.7325
Epoch 8/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5514 - accuracy: 0.7308
Epoch 9/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5508 - accuracy: 0.7325
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5505 - accuracy: 0.7318
Epoch 11/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5495 - accuracy: 0.7316
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5488 - accuracy: 0.7331
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5485 - accuracy: 0.7331
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5480 - accuracy: 0.7331
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7343
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5476 - accuracy: 0.7353
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5471 - accuracy: 0.7345
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7353
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7347
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5465 - accuracy: 0.7337
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7343
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5458 - accuracy: 0.7352
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7353
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7354
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7350
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7351
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7340
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7355
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7358
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7356
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7358
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7358
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7362
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7371
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7357
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7367
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7364
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7361
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7372
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7366
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7375
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7375
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7367
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7366
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7369
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7366
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7370
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7358
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7374
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7372
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7372
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7372
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7365
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7373
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7374
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5420 - accuracy: 0.7362
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7377
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7380
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7372
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7371
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7372
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7381
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7374
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5406 - accuracy: 0.7370
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7378
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7367
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7387
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7368
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7383
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7377
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7386
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5398 - accuracy: 0.7384
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7371
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7381
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7376
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7372
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7373
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7376
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7368
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5397 - accuracy: 0.7378
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7375
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7376
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7376
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7378
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7381
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7385
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7384
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5394 - accuracy: 0.7377
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7378
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7381
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7379
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7381
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7384
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7378
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7380
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7381
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7384
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7385
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7385
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7392

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5637 - accuracy: 0.7278 - 1s/epoch - 4ms/step
Loss: 0.5636603832244873, Accuracy: 0.7278134226799011

In [ ]:
# Export our model to HDF5 file
save_model(nn_model, TRAINED_MODEL_PATH,"AlphabetSoupCharity" )

In [ ]:
nn_model_loaded = load_model( TRAINED_MODEL_PATH )

In [ ]:
nn_model_loaded.evaluate(X_test_scaled,y_test,verbose=2)

268/268 - 0s - loss: 0.5637 - accuracy: 0.7278 - 447ms/epoch - 2ms/step

[0.5636603832244873, 0.7278134226799011]